* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
body{
    background: #111;
    color: #f5f5f5;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #222;
}
header h1{
  font-size: 1.8rem;
  color: #d81b60;
}
h2{
    font-size: 1.8rem;
    color: #d81b60;
}
nav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
    gap: 10px;
}
    nav.active{
        display: flex;
    }
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover,
nav a:active{
    color: #d81b60;
}
.menu-btn{
   display: block;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

form{
  display: block;
  width: 100%;
  padding: 10px 10px;
  background-color: #222;
  border-radius: 20px;
}
form .contenido {
 display: block;
 position: relative;
 width: calc(90%);
 height: auto;
 margin: 10px auto;
 padding: 30px 10px 10px;
 background: #222;
}

form .contenido input {
 display: block;
 width: 100%;
 border-radius: 20px;
 border: 0;
 padding: 10px 10px;
 font-size: 18px;
}

form .contenido label {
 display: block;
 position: absolute;
 width: auto;
 top: -10px;
 left: 20px;
 padding: 5px 5px;
 border-radius: 10px;
}
.contacto{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}
.contacto form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}
.contacto input,
.contacto textarea{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #f5f5f5;
    transition: all 0.3s ease;
}
.contacto input:hover,
.contacto textarea:hover,
.contacto input:focus,
.contacto textarea:focus {
    background-color: #3a3a3a;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(174, 0, 255, 0.3);
}
.contacto textarea {
  resize: none;
}
.contacto button {
  background: #d81b60;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.contacto button:hover{
    background: #d81b60;
}
.info {
    margin-top: 30px;
    text-align: center;
}
.form input,
.form textarea {
  position: relative;
  padding: 12px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #aaa;
  transition: all 0.3s ease;
  transform-origin: left;
}
.form input:focus::placeholder,
.form textarea:focus::placeholder {
  transform: translateY(-10px) scale(1);
  opacity: 0.7;
  color: #aaa;
}
footer{
  text-align: center;
  padding: 20px;
  background: #222;
  color: #aaa;
  margin-top: 40px;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}