body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0%;  
    padding: 0%;
}

.Menú-btn{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.Título{
    text-align: center;
    color: white;
}

.Servicios{
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #333;
    color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
img{
    margin: 0 auto;
    width: 45%;
    height: auto;
    border-radius: 8px;
}
