body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0%;  
    padding: 0%;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
}

.Servicios{
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    text-align: center; 
}

.grid-servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card{
    background: #1b1b1b;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    animation: slideUp 0.8s ease forwards;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    transform: scale(1.1);
    animation: imgFade 0.8s ease forwards;
    animation-delay: 1s;
}

.card h3{
    margin: 15px 0 10px;
    color: #d81b60;
}

.card p{
    font-size: 14px;
    color: #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    background: #111;
    color: #f5f5f5;
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #222;
}

header h1{
    font-size: 1.8rem;
    color: #d81b60;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover,
nav a.active{
    color: #d81b60;
}

.menu-btn{
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.Servicios{
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.Servicios h2 {
    color: #d81b60;
}

.grid-servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 2opx;
}

.card{
    background: #1b1b1b;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    margin: 15px 0 10px;
    color: #d81b60;
}

.card p{
    font-size: 14px;
    color: #ddd;
}

footer{
    text-align: center;
    padding: 20px;
    background: #222;
    color:#aaa;
    margin-top: 40px;
}

nav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
    gap: 10px;
}

nav.active{
        display: flex;
}

@media (max-width:768px){
    .imagenes{
        grid-template-columns: 1fr;
    }
    .grid-servicios{
        grid-template-columns: 1fr;
    }
    .caracteristicas-grid{
        grid-template-columns: 1fr;
    }
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slideUp{
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes imgFade{
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
