.contacto{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}
.contacto form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}
.contacto input
.contacto textarea{
    padding: 12px;
    border: none;
    border-radius: 8px;
}