body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin-bottom: 10;
    font-size: 2rem;
}

nav{
    margin-top: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #f5a623;
}
main{
    max-width: 1200px;
    margin: 30px auto ;
    padding: 0 20px;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}