body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #223838;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d81b60;
}

main {
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: calc(33.33% - 20px);
}

footer {
    background-color: #223838;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.menu-btn {
    display: none;
    background: none;
    border: 2px solid #d81b60;
    color: #d81b60;
    padding: 8px 12
}